<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanjin.dao.IPurifyDao">

	 <!-- 保存一条推送订单清理记录 -->
	<insert id="insertPurify" parameterType="java.util.Map">
  		insert into purifyRec(
  			purifyType,
  			maxOrderId,
  			lastPurifyDataTime,
  			lastPurifyTime
  		) values(
  			#{purifyType},
  			#{maxOrderId},
  			#{purifyDataTime},  		
  	 		now()
  		)
	</insert>
	
	<!-- 查询某推送订单清理类型最后一次记录  -->
	<select id="getLastPurify" parameterType="java.lang.String"
		resultType="java.util.HashMap">
     		select lastPurifyDataTime,maxOrderId from purifyRec where purifyType=#{purifyType} order by lastPurifyTime desc limit 1 
	</select>
	
</mapper>

