<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanjin.dao.IAppConfigDao">

  <!-- 
  	表     名：app_config				
  	表描述：
  		config_type					
  		config_value				
   -->

  <!-- 验证APP是否有更新  -->
  <select id="getAuthKey" parameterType="java.util.Map" resultType="java.util.HashMap">
    select config_value as authKey from app_config where config_type='authKey'
  </select>
</mapper>

