<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanjin.dao.ILoadingDao">
  
  <!-- 获得所有发布的客户端启动页列表 -->
    <select id="getLoadingList" resultType="java.util.HashMap">  
		SELECT t.id,t.title,t.image,t.show_type AS showType,t.link,t.start_time AS stime,
        t.end_time AS etime,t.app_type AS appType,t.package_type AS packageType
        FROM manager_loading t WHERE  t.is_del=0 AND t.is_pub=1
	</select>  
	
	<select id="getPushInfo" resultType="Map" parameterType="String">
		SELECT 
			id,
			app_type as appType,
			push_range as pushRange,
			push_type as pushType
		from
			push_info
		where 
			app_type=#{appType}
	</select>
	<!-- 根据城市获取所有商户 可删除-->
	<select id="getAllMerchant" parameterType="java.util.Map" resultType="java.util.HashMap">		
	   
			SELECT
				DISTINCT 
				mst.merchant_id as merchantId
			FROM
				merchant_service_type mst,merchant_info mi			
			<!-- <if test="isTest == 1" >
				inner join merchant_employees me on me.merchant_id=mi.id and me.is_del=0
			</if> -->
			WHERE
				mst.service_type_id = (
					SELECT
						oi.service_type_id
					FROM
						order_info oi
					WHERE
						oi.id = #{orderId}
				) and LENGTH(mi.location_address)>0 and LENGTH(mi.`name`)>0
				and mst.merchant_id=mi.id 				
				and mst.app_type = #{appType}	
					
				<!-- <if test="isTest == 1" >
				and	me.phone like  CONCAT('140000000','%') 
				</if> -->		
		
	</select>
	<!-- 根据城市获取所有商户 可删除-->
	<select id="getAllMerchantByCity" parameterType="java.util.Map" resultType="java.util.HashMap">	   
			SELECT
				DISTINCT 
				mst.merchant_id as merchantId
			FROM
				merchant_service_type mst,merchant_info mi				
			<!-- <if test="isTest == 1" >
				inner join merchant_employees me on me.merchant_id=mi.id and me.is_del=0
			</if> -->
			WHERE
				mst.service_type_id = (
					SELECT
						oi.service_type_id
					FROM
						order_info oi
					WHERE
						oi.id = #{orderId}
				) and LENGTH(mi.location_address)>0 and LENGTH(mi.`name`)>0
				and mst.merchant_id=mi.id 
				and (mi.province LIKE CONCAT(#{province},'%') 
				and mi.city LIKE CONCAT(#{city},'%'))
				and mst.app_type = #{appType}	
				<!-- <if test="isTest == 1" >
				and	me.phone like  CONCAT('140000000','%') 
				</if> -->	
		
	</select>
	<!-- 根据经纬度获取所有商户的 可删除-->
	<select id="getAllMerchantByRange" parameterType="java.util.Map" resultType="java.util.HashMap">
		
		SELECT
			 DISTINCT 
			 mst.merchant_id as merchantId
		FROM
			merchant_service_type mst,
			merchant_info mi
		<!-- <if test="isTest == 1" >
			inner join merchant_employees me on me.merchant_id=mi.id and me.is_del=0
		</if> -->
		WHERE
			mst.service_type_id = (
				SELECT
					oi.service_type_id
				FROM
					order_info oi
				WHERE
					oi.id = #{orderId}
			) and LENGTH(mi.location_address)>0 and LENGTH(mi.`name`)>0
			and mst.merchant_id=mi.id 
			and (mi.longitude>#{leftLongitude} and mi.longitude &lt; #{rightLongitude})
			and (mi.latitude>#{buttomLatitude} and mi.latitude &lt; #{topLatitude})
			and mst.app_type = #{appType}
			<!-- <if test="isTest == 1" >
			and	me.phone like  CONCAT('140000000','%') 
			</if> -->
		 
	</select>
	
	 <!-- 获取在线商户  可删除-->
	<select id="getOnlineMerchant" resultType="java.util.Map" parameterType="java.util.List" >
	    SELECT
			DISTINCT 
			mp.client_id as clientId,
			mp.client_type as clientType,
			mp.merchant_id as merchantId,
			mp.app_type as appType
		FROM
			merchant_push mp
		WHERE
			mp.merchant_id IN (
				<foreach collection="list" index="index" item="map"  separator=",">
					<foreach collection="map" index="key" item="merchantId" >
	                    #{merchantId}
	                </foreach>		         
		      	</foreach>
			)
	</select>
	
	<!-- 根据商户的服务标签获取clentid 可删除 -->
	<select id="getClientIdsByServiceTag" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT
			mi.id as merchantId
		FROM
			merchant_info mi
		WHERE
			mi.id in
			<foreach collection="merchantIds" index="index" item="item" open="(" separator="," close=")">
	          #{item.merchantId}
	        </foreach>
			and LENGTH(mi.location_address) &gt; 0 and LENGTH(mi.`name`) &gt; 0
			and (mi.longitude>#{leftLongitude} and mi.longitude &lt; #{rightLongitude})
			and (mi.latitude>#{buttomLatitude} and mi.latitude &lt; #{topLatitude})
	</select>
	
</mapper>

