<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanjin.dao.IServiceCityDao">

  <select id="checkServiceCity" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select 
  			count(1)
  		from 
  			service_city 
  		where 
  			province=#{province}
  		AND city=#{city}
  		AND is_open=1
  </select>
  <select id="getAllServiceCity" resultType="java.util.Map">
  		select 
  			province,
			city,
			is_open as isOpen
  		from 
  			service_city 
  </select>
</mapper>

