<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title></title>
                <style>
                        html,body,img{margin:0;padding:0;border:0;}
                        html,body{background:#efefef;width:100%;height:100%;position:relative;}
                        .img_{position: absolute;left:50%;top:50%;width:787px;height:360px;margin:-220px 0 0 -393px;}
                </style>
        </head>
        <body>
                <a href="/welcome"><div class="img_"><img src="/view/image/repeatLaning.png" width="787"></div>
                <div style="padding-top: 520px; padding-left: 1000px;"><img width="150" height="50" src="/view/image/repeatlogin.png" /></div></a>
        </body>
</html>