<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanjin.carinsur.dao.CiOrderBizResultRecordMapper">
	
	<!-- 
	LRU – 最近最少使用的:移除最长时间不被使用的对象
	FIFO – 先进先出:按对象进入缓存的顺序来移除它们。
	SOFT – 软引用:移除基于垃圾回收器状态和软引用规则的对象。
	WEAK – 弱引用:更积极地移除基于垃圾收集器状态和弱引用规则的对象。
	 -->
	<cache
  		eviction="LRU"			
  		flushInterval="60000"
  		size="1024"
  		readOnly="true"/>
	
	<!-- 结果实体映射 -->
	<resultMap type="com.shanjin.carinsur.model.CiOrderBizResultRecord" id="CiOrderBizResultRecordBsRstMap">
		<id property="id" column="id"/>
		
		<result property="orderNo" column="order_no"/>
		<result property="oldValue" column="old_value"/>
		<result property="newValue" column="new_value"/>
		<result property="dueTime" column="due_time"/>
		<result property="createTime" column="create_time"/>
		<result property="creator" column="creator"/>
	</resultMap>
	
	<!-- 参数实体映射 -->
	<resultMap type="com.shanjin.carinsur.model.CiOrderBizResultRecord" id="CiOrderBizResultRecordBsParaMap">
		<id property="id" column="id"/>
		
		<result property="orderNo" column="order_no"/>
		<result property="oldValue" column="old_value"/>
		<result property="newValue" column="new_value"/>
		<result property="dueTime" column="due_time"/>
		<result property="createTime" column="create_time"/>
		<result property="creator" column="creator"/>
	</resultMap>
	
	<!-- 通用的sql片段  -->
	<sql id="commSelTpl">
		SELECT 
			t.id as id, 
			t.order_no as orderNo, 
			t.old_value as oldValue, 
			t.new_value as newValue, 
			t.due_time as dueTime, 
			t.create_time as createTime, 
			t.creator as creator
		FROM ci_order_biz_result_record AS t
	</sql>
	
	<sql id="commSelCount">
		SELECT COUNT(1) FROM ci_order_biz_result_record AS t
	</sql>
	
	<sql id="commInsTpl">
		INSERT INTO ci_order_biz_result_record (
				
				order_no, 
				old_value, 
				new_value, 
				due_time, 
				create_time, 
				creator
			) VALUES (
				
				#{orderNo}, 
				#{oldValue}, 
				#{newValue}, 
				#{dueTime}, 
				#{createTime}, 
				#{creator}
			)
	</sql>
	
	<sql id="commUpdTpl">
		UPDATE ci_order_biz_result_record AS t 
	</sql>
	
	<sql id="commDelTpl">
		DELETE t FROM ci_order_biz_result_record AS t
	</sql>
	
	<sql id="commOrderByTpl">
		ORDER BY id DESC
	</sql>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法Start+++++++++++++++++++++++++++++++++++ -->
	<insert id="saveEntity" parameterType="com.shanjin.carinsur.model.CiOrderBizResultRecord" keyProperty="id" useGeneratedKeys="false">
		<selectKey keyProperty="id" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<include refid="commInsTpl"/>
	</insert>
	
	<update id="updateEntity" parameterType="com.shanjin.carinsur.model.CiOrderBizResultRecord">
		<include refid="commUpdTpl"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="null!=orderNo and orderNo!=''">
				t.order_no = #{orderNo},
			</if>		
			<if test="null!=oldValue and oldValue!=''">
				t.old_value = #{oldValue},
			</if>		
			<if test="null!=newValue and newValue!=''">
				t.new_value = #{newValue},
			</if>		
			<if test="null!=dueTime">
				t.due_time = #{dueTime},
			</if>		
			<if test="null!=createTime">
				t.create_time = #{createTime},
			</if>		
			<if test="null!=creator and creator!=''">
				t.creator = #{creator},
			</if>		
		</trim>
		where t.id = #{id}
	</update>
	
	<delete id="deleteByKey" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> where id = #{id}
	</delete>
	
	<delete id="deleteEntity" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=orderNo and orderNo!=''">
				and t.order_no = #{orderNo}
			</if>		
			<if test="null!=oldValue and oldValue!=''">
				and t.old_value = #{oldValue}
			</if>		
			<if test="null!=newValue and newValue!=''">
				and t.new_value = #{newValue}
			</if>		
			<if test="null!=dueTime">
				and t.due_time = #{dueTime}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
		</trim>
	</delete>
	
	
	<delete id="batchDelete" parameterType="list">
		<include refid="commDelTpl"/> 
		where t.id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>		
	</delete>
	
	<select id="getEntityByKey" resultMap="CiOrderBizResultRecordBsRstMap" parameterType="java.lang.Long">
		<include refid="commSelTpl"/> where t.id = #{id} 
	</select>
	
	<select id="getAll" resultMap="CiOrderBizResultRecordBsRstMap">
		<include refid="commSelTpl"/>
	</select>
	
	<select id="getCount" resultType="int">
		<include refid="commSelCount"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=orderNo and orderNo!=''">
				and t.order_no = #{orderNo}
			</if>		
			<if test="null!=oldValue and oldValue!=''">
				and t.old_value = #{oldValue}
			</if>		
			<if test="null!=newValue and newValue!=''">
				and t.new_value = #{newValue}
			</if>		
			<if test="null!=dueTime">
				and t.due_time = #{dueTime}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
		</trim>
	</select>
	
	
	<select id="findInByKeyIds" parameterType="list" resultMap="CiOrderBizResultRecordBsRstMap">
		<include refid="commSelTpl"/>
		where t.id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
		<include refid="commOrderByTpl"/>
	</select>
	
	<select id="findByParamObj" parameterType="com.shanjin.carinsur.model.CiOrderBizResultRecord" resultMap="CiOrderBizResultRecordBsRstMap">
		<include refid="commSelTpl"/>
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=orderNo and orderNo!=''">
				and t.order_no = #{orderNo}
			</if>		
			<if test="null!=oldValue and oldValue!=''">
				and t.old_value = #{oldValue}
			</if>		
			<if test="null!=newValue and newValue!=''">
				and t.new_value = #{newValue}
			</if>		
			<if test="null!=dueTime">
				and t.due_time = #{dueTime}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
		</trim>
		<include refid="commOrderByTpl"/>
	</select>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法End+++++++++++++++++++++++++++++++++++++ -->
	
	<!-- +++++++++++++++++++++++++++++++++++扩展方法Start+++++++++++++++++++++++++++++++++++ -->
	
	<!-- +++++++++++++++++++++++++++++++++++扩展方法End+++++++++++++++++++++++++++++++++++++ -->
</mapper>
