<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanjin.carinsur.dao.CiVoucherMapper">
	
	<!-- 
	LRU – 最近最少使用的:移除最长时间不被使用的对象
	FIFO – 先进先出:按对象进入缓存的顺序来移除它们。
	SOFT – 软引用:移除基于垃圾回收器状态和软引用规则的对象。
	WEAK – 弱引用:更积极地移除基于垃圾收集器状态和弱引用规则的对象。
	 -->
	<cache
  		eviction="LRU"			
  		flushInterval="60000"
  		size="1024"
  		readOnly="true"/>
	
	<!-- 结果实体映射 -->
	<resultMap type="com.shanjin.carinsur.model.CiVoucher" id="CiVoucherBsRstMap">
		<id property="code" column="code"/>
		
		<result property="name" column="name"/>
		<result property="amount" column="amount"/>
		<result property="vouType" column="vou_type"/>
		<result property="effectiveDays" column="effective_days"/>
		<result property="isDel" column="is_del"/>
	</resultMap>
	
	<!-- 参数实体映射 -->
	<resultMap type="com.shanjin.carinsur.model.CiVoucher" id="CiVoucherBsParaMap">
		<id property="code" column="code"/>
		
		<result property="name" column="name"/>
		<result property="amount" column="amount"/>
		<result property="vouType" column="vou_type"/>
		<result property="effectiveDays" column="effective_days"/>
		<result property="isDel" column="is_del"/>
	</resultMap>
	
	<!-- 通用的sql片段  -->
	<sql id="commSelTpl">
		SELECT 
			t.code as code, 
			t.name as name, 
			t.amount as amount, 
			t.vou_type as vouType, 
			t.effective_days as effectiveDays, 
			t.is_del as isDel
		FROM ci_voucher AS t
	</sql>
	
	<sql id="commSelCount">
		SELECT COUNT(1) FROM ci_voucher AS t
	</sql>
	
	<sql id="commInsTpl">
		INSERT INTO ci_voucher (
				code,
				name, 
				amount, 
				vou_type, 
				effective_days, 
				is_del
			) VALUES (
				#{code},
				#{name}, 
				#{amount}, 
				#{vouType}, 
				#{effectiveDays}, 
				#{isDel}
			)
	</sql>
	
	<sql id="commUpdTpl">
		UPDATE ci_voucher AS t 
	</sql>
	
	<sql id="commDelTpl">
		DELETE t FROM ci_voucher AS t
	</sql>
	
	<sql id="commOrderByTpl">
		ORDER BY code DESC
	</sql>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法Start+++++++++++++++++++++++++++++++++++ -->
	<insert id="saveEntity" parameterType="com.shanjin.carinsur.model.CiVoucher">
		<include refid="commInsTpl"/>
	</insert>
	
	<update id="updateEntity" parameterType="com.shanjin.carinsur.model.CiVoucher">
		<include refid="commUpdTpl"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="null!=name and name!=''">
				t.name = #{name},
			</if>		
			<if test="null!=amount">
				t.amount = #{amount},
			</if>		
			<if test="null!=vouType">
				t.vou_type = #{vouType},
			</if>		
			<if test="null!=effectiveDays">
				t.effective_days = #{effectiveDays},
			</if>		
			<if test="null!=isDel">
				t.is_del = #{isDel},
			</if>		
		</trim>
		where t.code = #{code}
	</update>
	
	<delete id="deleteByKey" parameterType="java.lang.String">
		<include refid="commDelTpl"/> where code = #{code}
	</delete>
	
	<delete id="deleteEntity" parameterType="java.lang.String">
		<include refid="commDelTpl"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=name and name!=''">
				and t.name = #{name}
			</if>		
			<if test="null!=amount">
				and t.amount = #{amount}
			</if>		
			<if test="null!=vouType">
				and t.vou_type = #{vouType}
			</if>		
			<if test="null!=effectiveDays">
				and t.effective_days = #{effectiveDays}
			</if>		
			<if test="null!=isDel">
				and t.is_del = #{isDel}
			</if>		
		</trim>
	</delete>
	
	
	<delete id="batchDelete" parameterType="list">
		<include refid="commDelTpl"/> 
		where t.code in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>		
	</delete>
	
	<select id="getEntityByKey" resultMap="CiVoucherBsRstMap" parameterType="java.lang.String">
		<include refid="commSelTpl"/> where t.code = #{code} 
	</select>
	
	<select id="getAll" resultMap="CiVoucherBsRstMap">
		<include refid="commSelTpl"/>
	</select>
	
	<select id="getCount" resultType="int">
		<include refid="commSelCount"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=name and name!=''">
				and t.name = #{name}
			</if>		
			<if test="null!=amount">
				and t.amount = #{amount}
			</if>		
			<if test="null!=vouType">
				and t.vou_type = #{vouType}
			</if>		
			<if test="null!=effectiveDays">
				and t.effective_days = #{effectiveDays}
			</if>		
			<if test="null!=isDel">
				and t.is_del = #{isDel}
			</if>		
		</trim>
	</select>
	
	
	<select id="findInByKeyIds" parameterType="list" resultMap="CiVoucherBsRstMap">
		<include refid="commSelTpl"/>
		where t.code in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
		<include refid="commOrderByTpl"/>
	</select>
	
	<select id="findByParamObj" parameterType="com.shanjin.carinsur.model.CiVoucher" resultMap="CiVoucherBsRstMap">
		<include refid="commSelTpl"/>
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=name and name!=''">
				and t.name = #{name}
			</if>		
			<if test="null!=amount">
				and t.amount = #{amount}
			</if>		
			<if test="null!=vouType">
				and t.vou_type = #{vouType}
			</if>		
			<if test="null!=effectiveDays">
				and t.effective_days = #{effectiveDays}
			</if>		
			<if test="null!=isDel">
				and t.is_del = #{isDel}
			</if>		
		</trim>
		<include refid="commOrderByTpl"/>
	</select>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法End+++++++++++++++++++++++++++++++++++++ -->
	
	<!-- +++++++++++++++++++++++++++++++++++扩展方法Start+++++++++++++++++++++++++++++++++++ -->

	<select id="getVoucherByVouNo" resultType="com.shanjin.carinsur.model.CiVoucher">
		<include refid="commSelTpl"/> JOIN  ci_user_voucher c ON t.code = c.vou_code AND c.vou_no=#{vouNo}
	</select>
	<!-- +++++++++++++++++++++++++++++++++++扩展方法End+++++++++++++++++++++++++++++++++++++ -->
</mapper>
