.Banji{background-image:url(../image/icons/bianji.png)!important;}
.Caiwuguanli{background-image:url(../image/icons/caiwuguanli.png)!important;}
.Caozuorizhi{background-image:url(../image/icons/caozuorizhi.png)!important;}
.Daijinquan{background-image:url(../image/icons/daijinquan.png)!important;}
.Daijinquantianjiajilu{background-image:url(../image/icons/daijinquantianjiajilu.png)!important;}
.Daijinquanshiyongjilu{background-image:url(../image/icons/daijinquanshiyongjilu.png)!important;}
.Fafangdaijinquanjilu{background-image:url(../image/icons/fafangdaijinquanjilu.png)!important;}
.Shouye{background-image:url(../image/icons/shouye.png)!important;}
.Dailishangchongzhi{background-image:url(../image/icons/dailishangxiaofeijiluguanli.png)!important;}
.Dailishangkoufei{background-image:url(../image/icons/dailishangkoufeiguanli.png)!important;}
.Dailishangtianjia{background-image:url(../image/icons/dailishangtianjiajilu.png)!important;}
.Dailishangguanli{background-image:url(../image/icons/dailishangguanli.png)!important;}
.Dailishangshuliang{background-image:url(../image/icons/dailishangshuliang.png)!important;}
.Dailishangxiaofeiguanli{background-image:url(../image/icons/dailishangxiaofeijiluguanli.png)!important;}
.Dingdanguanli{background-image:url(../image/icons/dingdanguanli.png)!important;}
.Dingdanshuliang{background-image:url(../image/icons/dingdanshuliang.png)!important;}
.Dingdanxinxiguanli{background-image:url(../image/icons/dingdanxinxiguanli.png)!important;}
.Fuwushangguanli{background-image:url(../image/icons/fuwushangguanli.png)!important;}
.Fuwushangshuliang{background-image:url(../image/icons/fuwushangshuliang.png)!important;}
.Fuwushangtixianguanli{background-image:url(../image/icons/fuwushangtixianguanli.png)!important;}
.Fuwushangxinxiguanli{background-image:url(../image/icons/fuwushangxinxiguanli.png)!important;}
.Fuwushangyuangongxinxiguanli{background-image:url(../image/icons/fuwushangyuangongxinxiguanli.png)!important;}
.Fuwushangyunyingxinxiguanli{background-image:url(../image/icons/fuwushangyunyingxinxiguanli.png)!important;}
.Guanggaoguanli{background-image:url(../image/icons/guanggaoguanli.png)!important;}
.Huiyuanguanli{background-image:url(../image/icons/huiyuanguanli.png)!important;}
.Huiyuanhuoshouzhan{background-image:url(../image/icons/huiyuanhuoshouzhan.png)!important;}
.Huiyuanshuliang{background-image:url(../image/icons/huiyuanshuliang.png)!important;}
.Huiyuanxinxiguanli{background-image:url(../image/icons/huiyuanxinxiguanli.png)!important;}
.Jueseguanli{background-image:url(../image/icons/jueseguanli.png)!important;}
.Qunzuguanli{background-image:url(../image/icons/qunzuguanli.png)!important;}
.Shangla{background-image:url(../image/icons/shangla.png)!important;}
.Shouqi{background-image:url(../image/icons/shouqi.png)!important;}
.Shouyeanniu{background-image:url(../image/icons/shouyeanniu.png)!important;}
.Tuichu{background-image:url(../image/icons/tuichu.png)!important;}
.Xiala{background-image:url(../image/icons/xiala.png)!important;}
.Xiangmuguanli{background-image:url(../image/icons/xiangmuguanli.png)!important;}
.Xitongcanshu{background-image:url(../image/icons/xitongcanshu.png)!important;}
.Xitongguanli{background-image:url(../image/icons/xitongguanli.png)!important;}
.Xiugaimima{background-image:url(../image/icons/xiugaimima.png)!important;}
.Yonghu{background-image:url(../image/icons/yonghu.png)!important;}
.Yonghufankuiguanli{background-image:url(../image/icons/yonghufankuiguanli.png)!important;}
.Yunyingguanli{background-image:url(../image/icons/yunyingguanli.png)!important;}
.Zhanghaoguanli{background-image:url(../image/icons/zhanghaoguanli.png)!important;}
.Zhankai{background-image:url(../image/icons/zhankai.png)!important;}
.Zhedie2{background-image:url(../image/icons/zhedie2.png)!important;}
.Ziyuanguanli{background-image:url(../image/icons/ziyuanguanli.png)!important;}

.NewAdd{background-image:url(../image/icons/add.png)!important;}
.Edit{background-image:url(../image/icons/edit.png)!important;}
.NewDelete{background-image:url(../image/icons/delete.png)!important;}
.Select{background-image:url(../image/icons/chaxun.png)!important;}
.Audit{background-image:url(../image/icons/audit.png)!important;}
.Refresh{background-image:url(../image/icons/refresh.png)!important;}
.Detail{background-image:url(../image/icons/detail.png)!important;}
.Chongzhi{background-image:url(../image/icons/chongzhi.png)!important;}
.Daochu{background-image:url(../image/icons/daochu.png)!important;}
.Fafang{background-image:url(../image/icons/fafangdaijinquanjilu.png)!important;}
.Zengzhifuwuguanli{background-image:url(../image/icons/zengzhifuwuguanli.png)!important;}

.Banbenguanli{background-image:url(../image/icons/banbenguanli.png)!important;}
.Chehui{background-image:url(../image/icons/chehui.png)!important;}
.Dingdantuisongshenqing{background-image:url(../image/icons/dingdantuisongshenqing.png)!important;}
.Fabu{background-image:url(../image/icons/fabu.png)!important;}
.Fuwuleixing{background-image:url(../image/icons/fuwuleixing.png)!important;}
.Guwenhaoshenqing{background-image:url(../image/icons/guwenhaoshenqing.png)!important;}
.Quanxianguanli{background-image:url(../image/icons/quanxianguanli.png)!important;}
.Shouquan{background-image:url(../image/icons/shouquan.png)!important;}
.VIPhuiyuanshenqing{background-image:url(../image/icons/VIPhuiyuanshenqing.png)!important;}
.Xitongcanshu{background-image:url(../image/icons/xitongcanshu.png)!important;}
.Zengzhifuwuguanli{background-image:url(../image/icons/zengzhifuwuguanli.png)!important;}
.Zidianguanli{background-image:url(../image/icons/zidianguanli.png)!important;}
.Qiangdanfeiyongguanli{background-image:url(../image/icons/qiangdanfeiyongguanli.png)!important;}
.daoru{background-image:url(../image/icons/daoru.png)!important;}
.shousufenci{background-image:url(../image/icons/shousufenci.png)!important;}
.dailishangxinxiguanli{background-image:url(../image/icons/dailishangxinxiguanli.png)!important;}
.qidongyeguanli{background-image:url(../image/icons/qidongyeguanli.png)!important;}

.dailishangyuangong{background-image:url(../image/icons/dailishangyuangong.png)!important;}

.tuisongcanshu{background-image:url(../image/icons/tuisongcanshu.png)!important;}
.fuwubiaoqian{background-image:url(../image/icons/fuwubiaoqian.png)!important;}
.yingyongcanshu{background-image:url(../image/icons/tuisongcanshu.png)!important;}
.yingyongguanjianci{background-image:url(../image/icons/yingyongguanjianci.png)!important;}
.xiaoxizhongxin{background-image:url(../image/icons/xiaoxizhongxin.png)!important;}
.fuwushangfuwubiaoqian{background-image:url(../image/icons/fuwushangfuwubiaoqian.png)!important;}
.shenhetongguo{background-image:url(../image/icons/shenhetongguo.png)!important;}
.shenhebutongguo{background-image:url(../image/icons/shenhebutongguo.png)!important;}
.fasong.png{background-image:url(../image/icons/fasong.png)!important;}



.yonghuguanjianci{background-image:url(../image/icons/yonghuguanjianci.png)!important;}
.fuwuguanjianci{background-image:url(../image/icons/fuwuguanjianci.png)!important;}
.tongjixinxi{background-image:url(../image/icons/tongjixinxi.png)!important;}
.banbentongji{background-image:url(../image/icons/banbentongji.png)!important;}
.shebeitongji{background-image:url(../image/icons/shebeitongji.png)!important;}
.qidongcishu{background-image:url(../image/icons/qidongcishu.png)!important;}
.qudaotongji{background-image:url(../image/icons/qudaotongji.png)!important;}
.diyutongji{background-image:url(../image/icons/diyutongji.png)!important;}
.shanghuzhongduantongji{background-image:url(../image/icons/shanghuzhongduantongji.png)!important;}
.shanghuruzhutongji{background-image:url(../image/icons/shanghuruzhutongji.png)!important;}
.tongjixinxi{background-image:url(../image/icons/tongjixinxi.png)!important;}
.ruzhuqushi{background-image:url(../image/icons/ruzhuqushi.png)!important;}
.ruzhutongji{background-image:url(../image/icons/ruzhutongji.png)!important;}
.dailishangyuangongkaohe{background-image:url(../image/icons/dailishangyuangongkaohe.png)!important;}
.fuwuchengshiguanli{background-image:url(../image/icons/fuwuchengshiguanli.png)!important;}

.yonghutongji{background-image:url(../image/icons/yonghutongji.png)!important;}
.yonghuzhucetongji{background-image:url(../image/icons/yonghuzhucetongji.png)!important;}
.yonghuzhucequshi{background-image:url(../image/icons/yonghuzhucequshi.png)!important;}
.peizhixiangguanli{background-image:url(../image/icons/peizhixiangguanli.png)!important;}
.buchaifenguanjianci{background-image:url(../image/icons/buchaifenguanjianci.png)!important;}
.yincangguanjianci{background-image:url(../image/icons/yincangguanjianci.png)!important;}
.jiazhibiaoqianguanli{background-image:url(../image/icons/jiazhibiaoqianguanli.png)!important;}
.dingdantongji{background-image:url(../image/icons/dingdantongji.png)!important;}
.xinzengdingdantongji{background-image:url(../image/icons/xinzengdingdantongji.png)!important;}

.release{background-image:url(../image/icons/release.png)!important;}
.recall{background-image:url(../image/icons/recall.png)!important;}



.baojiafanganbiaodan{background-image:url(../image/icons/baojiafanganbiaodan.png)!important;}
.disanfangAPPguanli{background-image:url(../image/icons/disanfangAPPguanli.png)!important;}
.fenleiguanli{background-image:url(../image/icons/fenleiguanli.png)!important;}
.hangyetubiaoguanli{background-image:url(../image/icons/hangyetubiaoguanli.png)!important;}
.remensousuoguanli{background-image:url(../image/icons/remensousuoguanli.png)!important;}
.tuijianweiguanli{background-image:url(../image/icons/tuijianweiguanli.png)!important;}
.zidingyibiaodan{background-image:url(../image/icons/zidingyibiaodan.png)!important;}