<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- 要调用的工作类 -->
    <bean id="alipayJob" class="com.shanjin.financial.job.AlipayJob"></bean>
    <bean id="weixinJob" class="com.shanjin.financial.job.WeixinJob"></bean>
    <bean id="walletJob" class="com.shanjin.financial.job.WalletJob"></bean>

    <!-- 定义调用对象和调用对象的方法 -->
    <bean id="alipayTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="alipayJob"/>
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>
    <bean id="weixinTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="weixinJob"/>
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>
    <bean id="walletTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="walletJob"/>
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>

    <!-- 定义触发时间 -->
    <!-- 每天早上11点 -->
    <bean id="alipayTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="alipayTask"/>
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <value>0 0 11 * * ?</value>
        </property>
    </bean>
    <!-- 每天早上10点 -->
    <bean id="weixinTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="weixinTask"/>
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <value>0 0 10 * * ?</value>
        </property>
    </bean>
    <!-- 每天凌晨一点 -->
    <bean id="walletTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="walletTask"/>
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <value>0 0 1 * * ?</value>
        </property>
    </bean>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="startQuertz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="alipayTime"/>
                <ref bean="weixinTime"/>
                <ref bean="walletTime"/>
            </list>
        </property>
    </bean>

</beans>