<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanjin.dao.KingUserAssetMapper">
	

	<!-- 结果实体映射 -->
	<resultMap type="com.shanjin.model.king.KingUserAsset" id="KingUserAssetBsRstMap">
		<id property="userId" column="user_id"/>
		
		<result property="assetAmount" column="asset_amount"/>
		<result property="blockAmount" column="block_amount"/>
		<result property="limitedAmount" column="limited_amount"/>
		<result property="createTime" column="create_time"/>
		<result property="creator" column="creator"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="modifier" column="modifier"/>
	</resultMap>
	
	<!-- 参数实体映射 -->
	<resultMap type="com.shanjin.model.king.KingUserAsset" id="KingUserAssetBsParaMap">
		<id property="userId" column="user_id"/>
		
		<result property="assetAmount" column="asset_amount"/>
		<result property="blockAmount" column="block_amount"/>
		<result property="limitedAmount" column="limited_amount"/>
		<result property="createTime" column="create_time"/>
		<result property="creator" column="creator"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="modifier" column="modifier"/>
	</resultMap>
	
	<!-- 通用的sql片段  -->
	<sql id="commSelTpl">
		SELECT 
			t.user_id as userId, 
			t.asset_amount as assetAmount, 
			t.block_amount as blockAmount, 
			t.limited_amount as limitedAmount, 
			t.create_time as createTime, 
			t.creator as creator, 
			t.modify_time as modifyTime, 
			t.modifier as modifier
		FROM king_user_asset AS t
	</sql>
	
	<sql id="commSelCount">
		SELECT COUNT(1) FROM king_user_asset AS t
	</sql>
	
	<sql id="commInsTpl">
		INSERT INTO king_user_asset (
				user_id,
				asset_amount, 
				block_amount, 
				limited_amount, 
				create_time, 
				creator, 
				modify_time, 
				modifier
			) VALUES (
				#{userId},
				#{assetAmount}, 
				#{blockAmount}, 
				#{limitedAmount}, 
				#{createTime}, 
				#{creator}, 
				#{modifyTime}, 
				#{modifier}
			)
	</sql>
	
	<sql id="commUpdTpl">
		UPDATE king_user_asset AS t 
	</sql>
	
	<sql id="commDelTpl">
		DELETE t FROM king_user_asset AS t
	</sql>
	
	<sql id="commOrderByTpl">
		ORDER BY user_id DESC
	</sql>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法Start+++++++++++++++++++++++++++++++++++ -->
	<insert id="saveEntity" parameterType="com.shanjin.model.king.KingUserAsset" keyProperty="userId" useGeneratedKeys="false">
		<include refid="commInsTpl"/>
	</insert>
	
	<update id="updateEntity" parameterType="com.shanjin.model.king.KingUserAsset">
		<include refid="commUpdTpl"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="null!=assetAmount">
				t.asset_amount = #{assetAmount},
			</if>		
			<if test="null!=blockAmount">
				t.block_amount = #{blockAmount},
			</if>		
			<if test="null!=limitedAmount">
				t.limited_amount = #{limitedAmount},
			</if>		
			<if test="null!=createTime">
				t.create_time = #{createTime},
			</if>		
			<if test="null!=creator and creator!=''">
				t.creator = #{creator},
			</if>		
			<if test="null!=modifyTime">
				t.modify_time = #{modifyTime},
			</if>		
			<if test="null!=modifier and modifier!=''">
				t.modifier = #{modifier},
			</if>		
		</trim>
		where t.user_id = #{userId}
	</update>
	
	<delete id="deleteByKey" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> where user_id = #{userId}
	</delete>
	
	<delete id="deleteEntity" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=assetAmount">
				and t.asset_amount = #{assetAmount}
			</if>		
			<if test="null!=blockAmount">
				and t.block_amount = #{blockAmount}
			</if>		
			<if test="null!=limitedAmount">
				and t.limited_amount = #{limitedAmount}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
			<if test="null!=modifyTime">
				and t.modify_time = #{modifyTime}
			</if>		
			<if test="null!=modifier and modifier!=''">
				and t.modifier = #{modifier}
			</if>		
		</trim>
	</delete>
	
	
	<delete id="batchDelete" parameterType="list">
		<include refid="commDelTpl"/> 
		where t.user_id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>		
	</delete>
	
	<select id="getEntityByKey" resultMap="KingUserAssetBsRstMap" parameterType="java.lang.Long">
		<include refid="commSelTpl"/> where t.user_id = #{userId} 
	</select>
	
	<select id="getAll" resultMap="KingUserAssetBsRstMap">
		<include refid="commSelTpl"/>
	</select>
	
	<select id="getCount" resultType="int">
		<include refid="commSelCount"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=assetAmount">
				and t.asset_amount = #{assetAmount}
			</if>		
			<if test="null!=blockAmount">
				and t.block_amount = #{blockAmount}
			</if>		
			<if test="null!=limitedAmount">
				and t.limited_amount = #{limitedAmount}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
			<if test="null!=modifyTime">
				and t.modify_time = #{modifyTime}
			</if>		
			<if test="null!=modifier and modifier!=''">
				and t.modifier = #{modifier}
			</if>		
		</trim>
	</select>
	
	
	<select id="findInByKeyIds" parameterType="list" resultMap="KingUserAssetBsRstMap">
		<include refid="commSelTpl"/>
		where t.user_id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
		<include refid="commOrderByTpl"/>
	</select>
	
	<select id="findByParamObj" parameterType="com.shanjin.model.king.KingUserAsset" resultMap="KingUserAssetBsRstMap">
		<include refid="commSelTpl"/>
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=assetAmount">
				and t.asset_amount = #{assetAmount}
			</if>		
			<if test="null!=blockAmount">
				and t.block_amount = #{blockAmount}
			</if>		
			<if test="null!=limitedAmount">
				and t.limited_amount = #{limitedAmount}
			</if>		
			<if test="null!=createTime">
				and t.create_time = #{createTime}
			</if>		
			<if test="null!=creator and creator!=''">
				and t.creator = #{creator}
			</if>		
			<if test="null!=modifyTime">
				and t.modify_time = #{modifyTime}
			</if>		
			<if test="null!=modifier and modifier!=''">
				and t.modifier = #{modifier}
			</if>		
		</trim>
		<include refid="commOrderByTpl"/>
	</select>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法End+++++++++++++++++++++++++++++++++++++ -->
	
	<!-- +++++++++++++++++++++++++++++++++++扩展方法Start+++++++++++++++++++++++++++++++++++ -->
	<update id="modifyUserAsset" parameterType="java.util.Map">
	update king_user_asset SET
     asset_amount = asset_amount+#{asset}
     ,block_amount = block_amount+#{block}
     ,modify_time = #{time}
     ,modifier = #{modifier}
    WHERE user_id = #{userId}
	</update>
	<!-- +++++++++++++++++++++++++++++++++++扩展方法End+++++++++++++++++++++++++++++++++++++ -->
</mapper>
