<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanjin.dao.ActivityMerchantGoodRewardMapper">
	
	<!-- 
	LRU – 最近最少使用的:移除最长时间不被使用的对象
	FIFO – 先进先出:按对象进入缓存的顺序来移除它们。
	SOFT – 软引用:移除基于垃圾回收器状态和软引用规则的对象。
	WEAK – 弱引用:更积极地移除基于垃圾收集器状态和弱引用规则的对象。
	 -->
	<cache
  		eviction="LRU"			
  		flushInterval="60000"
  		size="1024"
  		readOnly="true"/>
	
	<!-- 结果实体映射 -->
	<resultMap type="com.shanjin.incr.model.ActivityMerchantGoodReward" id="ActivityMerchantGoodRewardBsRstMap">
		<id property="id" column="id"/>
		
		<result property="userId" column="user_id"/>
		<result property="merchantId" column="merchant_id"/>
		<result property="activityId" column="activity_id"/>
		<result property="pkgId" column="pkg_id"/>
		<result property="score" column="score"/>
		<result property="rewardDate" column="reward_date"/>
		<result property="rewardCount" column="reward_count"/>
		<result property="rewardAmount" column="reward_amount"/>
		<result property="rewardMonth" column="reward_month"/>
		<result property="isTransfer" column="is_transfer"/>
		<result property="accountTime" column="account_time"/>
		<result property="userName" column="user_name"/>
		<result property="remarks" column="remarks"/>
	</resultMap>
	
	<!-- 参数实体映射 -->
	<resultMap type="com.shanjin.incr.model.ActivityMerchantGoodReward" id="ActivityMerchantGoodRewardBsParaMap">
		<id property="id" column="id"/>
		
		<result property="userId" column="user_id"/>
		<result property="merchantId" column="merchant_id"/>
		<result property="activityId" column="activity_id"/>
		<result property="pkgId" column="pkg_id"/>
		<result property="score" column="score"/>
		<result property="rewardDate" column="reward_date"/>
		<result property="rewardCount" column="reward_count"/>
		<result property="rewardAmount" column="reward_amount"/>
		<result property="rewardMonth" column="reward_month"/>
		<result property="isTransfer" column="is_transfer"/>
		<result property="accountTime" column="account_time"/>
		<result property="userName" column="user_name"/>
		<result property="remarks" column="remarks"/>
	</resultMap>
	
	<!-- 通用的sql片段  -->
	<sql id="commSelTpl">
		SELECT 
			t.id as id, 
			t.user_id as userId, 
			t.merchant_id as merchantId, 
			t.activity_id as activityId, 
			t.pkg_id as pkgId, 
			t.score as score, 
			t.reward_date as rewardDate, 
			t.reward_count as rewardCount, 
			t.reward_amount as rewardAmount, 
			t.reward_month as rewardMonth, 
			t.is_transfer as isTransfer, 
			t.account_time as accountTime, 
			t.user_name as userName, 
			t.remarks as remarks
		FROM activity_merchant_good_reward AS t
	</sql>
	
	<sql id="commSelCount">
		SELECT COUNT(1) FROM activity_merchant_good_reward AS t
	</sql>
	
	<sql id="commInsTpl">
		INSERT INTO activity_merchant_good_reward (
				
				user_id, 
				merchant_id, 
				activity_id, 
				pkg_id, 
				score, 
				reward_date, 
				reward_count, 
				reward_amount, 
				reward_month, 
				is_transfer, 
				account_time, 
				user_name, 
				remarks
			) VALUES (
				
				#{userId}, 
				#{merchantId}, 
				#{activityId}, 
				#{pkgId}, 
				#{score}, 
				#{rewardDate}, 
				#{rewardCount}, 
				#{rewardAmount}, 
				#{rewardMonth}, 
				#{isTransfer}, 
				#{accountTime}, 
				#{userName}, 
				#{remarks}
			)
	</sql>
	
	<sql id="commUpdTpl">
		UPDATE activity_merchant_good_reward AS t 
	</sql>
	
	<sql id="commDelTpl">
		DELETE t FROM activity_merchant_good_reward AS t
	</sql>
	
	<sql id="commOrderByTpl">
		ORDER BY id DESC
	</sql>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法Start+++++++++++++++++++++++++++++++++++ -->
	<insert id="saveEntity" parameterType="com.shanjin.incr.model.ActivityMerchantGoodReward" keyProperty="id" useGeneratedKeys="false">
		<selectKey keyProperty="id" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<include refid="commInsTpl"/>
	</insert>
	
	<update id="updateEntity" parameterType="com.shanjin.incr.model.ActivityMerchantGoodReward">
		<include refid="commUpdTpl"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="null!=userId">
				t.user_id = #{userId},
			</if>		
			<if test="null!=merchantId">
				t.merchant_id = #{merchantId},
			</if>		
			<if test="null!=activityId">
				t.activity_id = #{activityId},
			</if>		
			<if test="null!=pkgId">
				t.pkg_id = #{pkgId},
			</if>		
			<if test="null!=score">
				t.score = #{score},
			</if>		
			<if test="null!=rewardDate">
				t.reward_date = #{rewardDate},
			</if>		
			<if test="null!=rewardCount">
				t.reward_count = #{rewardCount},
			</if>		
			<if test="null!=rewardAmount">
				t.reward_amount = #{rewardAmount},
			</if>		
			<if test="null!=rewardMonth and rewardMonth!=''">
				t.reward_month = #{rewardMonth},
			</if>		
			<if test="null!=isTransfer">
				t.is_transfer = #{isTransfer},
			</if>		
			<if test="null!=accountTime">
				t.account_time = #{accountTime},
			</if>		
			<if test="null!=userName and userName!=''">
				t.user_name = #{userName},
			</if>		
			<if test="null!=remarks and remarks!=''">
				t.remarks = #{remarks},
			</if>		
		</trim>
		where t.id = #{id}
	</update>
	
	<delete id="deleteByKey" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> where id = #{id}
	</delete>
	
	<delete id="deleteEntity" parameterType="java.lang.Long">
		<include refid="commDelTpl"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=userId">
				and t.user_id = #{userId}
			</if>		
			<if test="null!=merchantId">
				and t.merchant_id = #{merchantId}
			</if>		
			<if test="null!=activityId">
				and t.activity_id = #{activityId}
			</if>		
			<if test="null!=pkgId">
				and t.pkg_id = #{pkgId}
			</if>		
			<if test="null!=score">
				and t.score = #{score}
			</if>		
			<if test="null!=rewardDate">
				and t.reward_date = #{rewardDate}
			</if>		
			<if test="null!=rewardCount">
				and t.reward_count = #{rewardCount}
			</if>		
			<if test="null!=rewardAmount">
				and t.reward_amount = #{rewardAmount}
			</if>		
			<if test="null!=rewardMonth and rewardMonth!=''">
				and t.reward_month = #{rewardMonth}
			</if>		
			<if test="null!=isTransfer">
				and t.is_transfer = #{isTransfer}
			</if>		
			<if test="null!=accountTime">
				and t.account_time = #{accountTime}
			</if>		
			<if test="null!=userName and userName!=''">
				and t.user_name = #{userName}
			</if>		
			<if test="null!=remarks and remarks!=''">
				and t.remarks = #{remarks}
			</if>		
		</trim>
	</delete>
	
	
	<delete id="batchDelete" parameterType="list">
		<include refid="commDelTpl"/> 
		where t.id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>		
	</delete>
	
	<select id="getEntityByKey" resultMap="ActivityMerchantGoodRewardBsRstMap" parameterType="java.lang.Long">
		<include refid="commSelTpl"/> where t.id = #{id} 
	</select>
	
	<select id="getAll" resultMap="ActivityMerchantGoodRewardBsRstMap">
		<include refid="commSelTpl"/>
	</select>
	
	<select id="getCount" resultType="int">
		<include refid="commSelCount"/> 
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=userId">
				and t.user_id = #{userId}
			</if>		
			<if test="null!=merchantId">
				and t.merchant_id = #{merchantId}
			</if>		
			<if test="null!=activityId">
				and t.activity_id = #{activityId}
			</if>		
			<if test="null!=pkgId">
				and t.pkg_id = #{pkgId}
			</if>		
			<if test="null!=score">
				and t.score = #{score}
			</if>		
			<if test="null!=rewardDate">
				and t.reward_date = #{rewardDate}
			</if>		
			<if test="null!=rewardCount">
				and t.reward_count = #{rewardCount}
			</if>		
			<if test="null!=rewardAmount">
				and t.reward_amount = #{rewardAmount}
			</if>		
			<if test="null!=rewardMonth and rewardMonth!=''">
				and t.reward_month = #{rewardMonth}
			</if>		
			<if test="null!=isTransfer">
				and t.is_transfer = #{isTransfer}
			</if>		
			<if test="null!=accountTime">
				and t.account_time = #{accountTime}
			</if>		
			<if test="null!=userName and userName!=''">
				and t.user_name = #{userName}
			</if>		
			<if test="null!=remarks and remarks!=''">
				and t.remarks = #{remarks}
			</if>		
		</trim>
	</select>
	
	
	<select id="findInByKeyIds" parameterType="list" resultMap="ActivityMerchantGoodRewardBsRstMap">
		<include refid="commSelTpl"/>
		where t.id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
		<include refid="commOrderByTpl"/>
	</select>
	
	<select id="findByParamObj" parameterType="com.shanjin.incr.model.ActivityMerchantGoodReward" resultMap="ActivityMerchantGoodRewardBsRstMap">
		<include refid="commSelTpl"/>
		<trim prefix="WHERE" prefixOverrides="and ">
			<if test="null!=userId">
				and t.user_id = #{userId}
			</if>		
			<if test="null!=merchantId">
				and t.merchant_id = #{merchantId}
			</if>		
			<if test="null!=activityId">
				and t.activity_id = #{activityId}
			</if>		
			<if test="null!=pkgId">
				and t.pkg_id = #{pkgId}
			</if>		
			<if test="null!=score">
				and t.score = #{score}
			</if>		
			<if test="null!=rewardDate">
				and t.reward_date = #{rewardDate}
			</if>		
			<if test="null!=rewardCount">
				and t.reward_count = #{rewardCount}
			</if>		
			<if test="null!=rewardAmount">
				and t.reward_amount = #{rewardAmount}
			</if>		
			<if test="null!=rewardMonth and rewardMonth!=''">
				and t.reward_month = #{rewardMonth}
			</if>		
			<if test="null!=isTransfer">
				and t.is_transfer = #{isTransfer}
			</if>		
			<if test="null!=accountTime">
				and t.account_time = #{accountTime}
			</if>		
			<if test="null!=userName and userName!=''">
				and t.user_name = #{userName}
			</if>		
			<if test="null!=remarks and remarks!=''">
				and t.remarks = #{remarks}
			</if>		
		</trim>
		<include refid="commOrderByTpl"/>
	</select>
	
	
	<!-- +++++++++++++++++++++++++++++++++++公共方法End+++++++++++++++++++++++++++++++++++++ -->
	
	<!-- +++++++++++++++++++++++++++++++++++扩展方法Start+++++++++++++++++++++++++++++++++++ -->
	<select id="findGoodRewardByMerchantId" resultType="com.shanjin.incr.model.ActivityMerchantGoodReward">
		<include refid="commSelTpl"/>
		where t.merchant_id = #{merchantId}
		AND  exists (
		select 1 from inc_pkg p,inc_service s,inc_pkg_order po
		where s.id=p.service_id and  po.pkg_id= p.id
		and s.service_key=#{serviceKey} and t.pkg_id = p.id)

	</select>
	<!-- +++++++++++++++++++++++++++++++++++扩展方法End+++++++++++++++++++++++++++++++++++++ -->
</mapper>
